<%= @username.capitalize %>

<dl>
  <dt>ID</dt>
  <dd> <%= 117 > </dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/117">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="anisa">

      <button>Update user</button>
    </form>
  </dd>
</dl>
